@inherits LayoutComponentBase

<!-- component -->
<div class="flex h-screen overflow-hidden">
<!-- Main Chat Area -->
<div class="flex-1 bg-secondary-content">
    <!-- Chat Header -->
    <header class="p-4 flex justify-between items-center bg-secondary-content text-secondary">
        <h1 class="text-2xl font-semibold">BLabbR</h1>
    </header>

    <!-- Chat Messages -->
    <div class="h-screen overflow-y-auto bg-secondary-content p-4 pb-36">
        <div class="chat chat-start">
            <div class="chat-header">
                Obi-Wan Kenobi
                <time class="text-xs opacity-50">12:45</time>
            </div>
            <div class="chat-bubble chat-bubble-primary">It was said that you would, destroy the Sith, not join them.</div>
        </div>
        <div class="chat chat-start">
            <div class="chat-header">
                Obi-Wan Kenobi
                <time class="text-xs opacity-50">12:45</time>
            </div>
            <div class="chat-bubble chat-bubble-primary">It was you who would bring balance to the Force</div>
        </div>
        <div class="chat chat-start">
            <div class="chat-header">
                Obi-Wan Kenobi
                <time class="text-xs opacity-50">12:45</time>
            </div>
            <div class="chat-bubble chat-bubble-primary">Not leave it in Darkness</div>
        </div>
        <div class="chat chat-start">
            <div class="chat-header">
                Obi-Wan Kenobi
                <time class="text-xs opacity-50">12:45</time>
            </div>
            <div class="chat-bubble chat-bubble-primary">You were the Chosen One!</div>
        </div>
        <div class="chat chat-start">
            <div class="chat-header">
                Anakin
                <time class="text-xs opacity-50">12:47</time>
            </div>
            <div class="chat-bubble chat-bubble-info">I hate you!</div>
        </div>

    </div>

    <!-- Chat Input -->
    <footer class="bg-secondary-content p-4 absolute bottom-0 w-5/6">
        <div class="flex items-center">
            <input type="text" placeholder="Type a message..." class="w-full p-2 rounded-md focus:outline-none focus:border-blue-500">
        </div>
    </footer>
</div>

<!-- Sidebar -->
<div class="w-1/6 overflow-y-auto bg-secondary-content border border-secondary-content border-l-neutral">
    <div class="p-4 flex justify-between bg-secondary-content"></div>
    
    <!-- Operators List -->
    <div class="h-fit p-3">
        <div class="flex-1">
            <h2 class="text-lg font-semibold mb-3">Operators</h2>
        </div>
        <div class="flex mb-4 avatar">
            <div class="bg-neutral text-neutral-content ring ring-primary ring-offset-base-100 ring-offset-2 rounded-full w-12 mr-5">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
            <div class="bg-secondary-content text-neutral-content w-auto">
                <span class="text">Martin</span>
            </div>
        </div>
        <div class="flex mb-4 avatar">
            <div class="bg-neutral text-neutral-content rounded-full w-12 mr-5">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
            <div class="bg-secondary-content text-neutral-content w-fit">
                <span class="text">Chris</span>
            </div>
        </div>
        <div class="flex mb-4 avatar">
            <div class="bg-neutral text-neutral-content ring ring-primary ring-offset-base-100 ring-offset-2 rounded-full w-12 mr-5">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
            <div class="bg-secondary-content text-neutral-content w-auto">
                <span class="text">David</span>
            </div>
        </div>
    </div>
    
    <div class="h-fit p-3">
        <div class="flex-1">
            <h2 class="text-lg font-semibold mb-3">Users (4/6)</h2>
        </div>
        <div class="flex mb-4 avatar">
            <div class="bg-neutral text-neutral-content ring ring-primary ring-offset-base-100 ring-offset-2 rounded-full w-12 mr-5">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
            <div class="bg-secondary-content text-neutral-content w-auto">
                <span class="text">Ella</span>
            </div>
        </div>

        <div class="flex mb-4 avatar">
            <div class="bg-neutral text-neutral-content ring ring-primary ring-offset-base-100 ring-offset-2 rounded-full w-12 mr-5">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
            <div class="bg-secondary-content text-neutral-content w-auto">
                <span class="text">Fiona</span>
            </div>
        </div>

        <div class="flex mb-4 avatar">
            <div class="bg-neutral text-neutral-content ring ring-primary ring-offset-base-100 ring-offset-2 rounded-full w-12 mr-5">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
            <div class="bg-secondary-content text-neutral-content w-auto">
                <span class="text">George</span>
            </div>
        </div>

        <div class="flex mb-4 avatar">
            <div class="bg-neutral text-neutral-content ring ring-primary ring-offset-base-100 ring-offset-2 rounded-full w-12 mr-5">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
            <div class="bg-secondary-content text-neutral-content w-auto">
                <span class="text">Hannah</span>
            </div>
        </div>

        <div class="flex mb-4 avatar">
            <div class="bg-neutral text-neutral-content ring-primary ring-offset-base-100 ring-offset-2 rounded-full w-12 mr-5">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
            <div class="bg-secondary-content text-neutral-content w-auto">
                <span class="text">Ian</span>
            </div>
        </div>

        <div class="flex mb-4 avatar">
            <div class="bg-neutral text-neutral-content ring-primary ring-offset-base-100 ring-offset-2 rounded-full w-12 mr-5">
                <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
            </div>
            <div class="bg-secondary-content text-neutral-content w-auto">
                <span class="text">Jack</span>
            </div>
        </div>
    </div>
</div>
</div>